In [ ]:
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following NEW packages will be installed:
  fonts-nanum
0 upgraded, 1 newly installed, 0 to remove and 37 not upgraded.
Need to get 9,604 kB of archives.
After this operation, 29.5 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/universe amd64 fonts-nanum all 20170925-1 [9,604 kB]
Fetched 9,604 kB in 1s (10.1 MB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 1.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package fonts-nanum.
(Reading database ... 155047 files and directories currently installed.)
Preparing to unpack .../fonts-nanum_20170925-1_all.deb ...
Unpacking fonts-nanum (20170925-1) ...
Setting up fonts-nanum (20170925-1) ...
Processing triggers for fontconfig (2.12.6-0ubuntu2) ...
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 3 dirs
/usr/share/fonts/truetype/humor-sans: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/truetype/liberation: caching, new cache contents: 16 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 10 fonts, 0 dirs
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/root/.local/share/fonts: skipping, no such directory
/root/.fonts: skipping, no such directory
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded

In [ ]:
# 런타임 다시시작

In [ ]:
import os, sys
from google.colab import drive
drive.mount('/content/drive')
my_path = '/content/notebooks'
os.symlink('/content/drive/My Drive/Colab Notebooks', my_path)
sys.path.insert(0,my_path)

Mounted at /content/drive

In [ ]:
import matplotlib.pyplot as plt

plt.rc('font', family='NanumBarunGothic')

In [ ]:
# 사용할 라이브러리 
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import rc
import seaborn as sns
%matplotlib inline
import warnings

warnings.filterwarnings('ignore')

In [ ]:
dataset_유지고객.to_csv('/content/drive/MyDrive/LMEMBERS 프로젝트(1차)/dataset/dataset_유지고객_증감여부_1006.csv', encoding='cp949')

In [ ]:
dataset_df = pd.read_csv('/content/drive/MyDrive/LMEMBERS 프로젝트(1차)/dataset/dataset2.csv',encoding='cp949',index_col=0)

In [ ]:
dataset_df.columns

Index(['고객번호', '구매금액', '14년 1분기', '14년 2분기', '14년 3분기', '14년 4분기', '15년 1분기',
       '15년 2분기', '15년 3분기', '15년4분기', '14년도 구매액', '15년도 구매액', '연도별 구매액 증감률',
       '증감 여부', '14년도 상_하반기 매출 증감률', '15년도 상_하반기 매출 증감률', '14년도 반기 기준 증감 여부',
       '15년도 반기 기준 증감 여부', '오전/오후', '총구매금액', '총구매등급', '평일/주말', '방문횟수', '방문등급',
       '종합등급'],
      dtype='object')

In [ ]:
고객_분기별이용금액 = dataset_df.drop(['구매금액','14년도 구매액', '15년도 구매액', '연도별 구매액 증감률',
       '증감 여부', '14년도 상_하반기 매출 증감률', '15년도 상_하반기 매출 증감률', '14년도 반기 기준 증감 여부',
       '15년도 반기 기준 증감 여부', '오전/오후', '총구매금액', '총구매등급', '평일/주말', '방문횟수', '방문등급',
       '종합등급'],axis=1)

In [ ]:
고객_분기별이용금액['1기_이용금액'] = 고객_분기별이용금액['14년 1분기'] + 고객_분기별이용금액['14년 2분기']
고객_분기별이용금액['2기_이용금액'] = 고객_분기별이용금액['14년 3분기'] + 고객_분기별이용금액['14년 4분기']
고객_분기별이용금액['3기_이용금액'] = 고객_분기별이용금액['15년 1분기'] + 고객_분기별이용금액['15년 2분기']
고객_분기별이용금액['4기_이용금액'] = 고객_분기별이용금액['15년 3분기'] + 고객_분기별이용금액['15년4분기']

In [ ]:
고객_분기별이용금액 = 고객_분기별이용금액.drop(['14년 1분기','14년 2분기','14년 3분기','14년 4분기','15년 1분기','15년 2분기','15년 3분기','15년4분기'],axis=1)

In [ ]:
고객_분기별이용금액

In [ ]:
# 4기 동안 반기별 매출 유무에 따라 유지고객과 변동고객(유입,이탈,복귀,신규)으로 구분

In [ ]:
def amount_count(x):
  if x == 0: y = 0
  else: y = 1
  return y

고객_분기별이용금액['14-1'] = 고객_분기별이용금액['1기_이용금액'].apply(lambda x : amount_count(x))
고객_분기별이용금액['14-2'] = 고객_분기별이용금액['2기_이용금액'].apply(lambda x : amount_count(x))
고객_분기별이용금액['15-1'] = 고객_분기별이용금액['3기_이용금액'].apply(lambda x : amount_count(x))
고객_분기별이용금액['15-2'] = 고객_분기별이용금액['4기_이용금액'].apply(lambda x : amount_count(x))

In [ ]:
고객_분기별이용금액

        고객번호   1기_이용금액   2기_이용금액   3기_이용금액   4기_이용금액  14-1  14-2  15-1  15-2
0          1  19925355  34116312  17898365  13102518     1     1     1     1
1          2  24323230  21922100  27791610  25843820     1     1     1     1
2          3    851215   1042554    592280    679118     1     1     1     1
3          4   5042106   4257510   3656937   3737257     1     1     1     1
4          5   5460150   2225730   2934930   2616260     1     1     1     1
...      ...       ...       ...       ...       ...   ...   ...   ...   ...
19378  19379         0   1190620   2395920   2192740     0     1     1     1
19379  19380         0    522700    837950   2552327     0     1     1     1
19380  19381         0         0   2797171   3243498     0     0     1     1
19381  19382         0         0   1826739   2575034     0     0     1     1
19382  19383         0         0     27000   2357400     0     0     1     1

[19383 rows x 9 columns]

In [ ]:
li1 = 고객_분기별이용금액[(고객_분기별이용금액['14-1'] == 1) & (고객_분기별이용금액['14-2'] == 1) & (고객_분기별이용금액['15-1'] == 1) & (고객_분기별이용금액['15-2'] ==1)].index
li2 = 고객_분기별이용금액[(고객_분기별이용금액['14-1'] == 0) & (고객_분기별이용금액['14-2'] == 1) & (고객_분기별이용금액['15-1'] == 1) & (고객_분기별이용금액['15-2'] ==1)].index
li3 = 고객_분기별이용금액[(고객_분기별이용금액['14-1'] == 0) & (고객_분기별이용금액['14-2'] == 0) & (고객_분기별이용금액['15-1'] == 1) & (고객_분기별이용금액['15-2'] ==1)].index
li4 = 고객_분기별이용금액[(고객_분기별이용금액['14-1'] == 1) & (고객_분기별이용금액['14-2'] == 0) & (고객_분기별이용금액['15-1'] == 0) & (고객_분기별이용금액['15-2'] ==0)].index
li5 = 고객_분기별이용금액[(고객_분기별이용금액['14-1'] == 1) & (고객_분기별이용금액['14-2'] == 1) & (고객_분기별이용금액['15-1'] == 0) & (고객_분기별이용금액['15-2'] ==0)].index
li6 = 고객_분기별이용금액[(고객_분기별이용금액['14-1'] == 1) & (고객_분기별이용금액['14-2'] == 1) & (고객_분기별이용금액['15-1'] == 1) & (고객_분기별이용금액['15-2'] ==0)].index
li7 = 고객_분기별이용금액[(고객_분기별이용금액['14-1'] == 1) & (고객_분기별이용금액['14-2'] == 0) & (고객_분기별이용금액['15-1'] == 1) & (고객_분기별이용금액['15-2'] ==0)].index
li8 = 고객_분기별이용금액[(고객_분기별이용금액['14-1'] == 0) & (고객_분기별이용금액['14-2'] == 1) & (고객_분기별이용금액['15-1'] == 1) & (고객_분기별이용금액['15-2'] ==0)].index
li9 = 고객_분기별이용금액[(고객_분기별이용금액['14-1'] == 0) & (고객_분기별이용금액['14-2'] == 1) & (고객_분기별이용금액['15-1'] == 0) & (고객_분기별이용금액['15-2'] ==0)].index
li10 = 고객_분기별이용금액[(고객_분기별이용금액['14-1'] == 0) & (고객_분기별이용금액['14-2'] == 0) & (고객_분기별이용금액['15-1'] == 1) & (고객_분기별이용금액['15-2'] ==0)].index
li11 = 고객_분기별이용금액[(고객_분기별이용금액['14-1'] == 1) & (고객_분기별이용금액['14-2'] == 0) & (고객_분기별이용금액['15-1'] == 0) & (고객_분기별이용금액['15-2'] ==1)].index
li12 = 고객_분기별이용금액[(고객_분기별이용금액['14-1'] == 1) & (고객_분기별이용금액['14-2'] == 0) & (고객_분기별이용금액['15-1'] == 1) & (고객_분기별이용금액['15-2'] ==1)].index
li13 = 고객_분기별이용금액[(고객_분기별이용금액['14-1'] == 1) & (고객_분기별이용금액['14-2'] == 1) & (고객_분기별이용금액['15-1'] == 0) & (고객_분기별이용금액['15-2'] ==1)].index
li14 = 고객_분기별이용금액[(고객_분기별이용금액['14-1'] == 0) & (고객_분기별이용금액['14-2'] == 1) & (고객_분기별이용금액['15-1'] == 0) & (고객_분기별이용금액['15-2'] ==1)].index
li15 = 고객_분기별이용금액[(고객_분기별이용금액['14-1'] == 0) & (고객_분기별이용금액['14-2'] == 0) & (고객_분기별이용금액['15-1'] == 0) & (고객_분기별이용금액['15-2'] ==1)].index

In [ ]:
for i in li1: 
  고객_분기별이용금액.at[i,'고객구분'] = '유지'

for i in li2:
  고객_분기별이용금액.at[i,'고객구분'] = '유입'

for i in li3:
  고객_분기별이용금액.at[i,'고객구분'] = '유입'

for i in li4:
  고객_분기별이용금액.at[i,'고객구분'] = '이탈'

for i in li5:
  고객_분기별이용금액.at[i,'고객구분'] = '이탈'

for i in li6:
  고객_분기별이용금액.at[i,'고객구분'] = '이탈'

for i in li7:
  고객_분기별이용금액.at[i,'고객구분'] = '이탈'

for i in li8:
  고객_분기별이용금액.at[i,'고객구분'] = '이탈'

for i in li9:
  고객_분기별이용금액.at[i,'고객구분'] = '이탈'

for i in li10:
  고객_분기별이용금액.at[i,'고객구분'] = '이탈'

for i in li11:
  고객_분기별이용금액.at[i,'고객구분'] = '복귀'

for i in li12:
  고객_분기별이용금액.at[i,'고객구분'] = '복귀'

for i in li13:
  고객_분기별이용금액.at[i,'고객구분'] = '복귀'

for i in li14:
  고객_분기별이용금액.at[i,'고객구분'] = '복귀'

for i in li15:
  고객_분기별이용금액.at[i,'고객구분'] = '신규'

In [ ]:
고객_분기별이용금액

        고객번호   1기_이용금액   2기_이용금액   3기_이용금액  ...  14-2  15-1  15-2  고객구분
0          1  19925355  34116312  17898365  ...     1     1     1    유지
1          2  24323230  21922100  27791610  ...     1     1     1    유지
2          3    851215   1042554    592280  ...     1     1     1    유지
3          4   5042106   4257510   3656937  ...     1     1     1    유지
4          5   5460150   2225730   2934930  ...     1     1     1    유지
...      ...       ...       ...       ...  ...   ...   ...   ...   ...
19378  19379         0   1190620   2395920  ...     1     1     1    유입
19379  19380         0    522700    837950  ...     1     1     1    유입
19380  19381         0         0   2797171  ...     0     1     1    유입
19381  19382         0         0   1826739  ...     0     1     1    유입
19382  19383         0         0     27000  ...     0     1     1    유입

[19383 rows x 10 columns]

In [ ]:
고객_분기별이용금액[고객_분기별이용금액['고객구분']=='유지']

        고객번호   1기_이용금액   2기_이용금액   3기_이용금액  ...  14-2  15-1  15-2  고객구분
0          1  19925355  34116312  17898365  ...     1     1     1    유지
1          2  24323230  21922100  27791610  ...     1     1     1    유지
2          3    851215   1042554    592280  ...     1     1     1    유지
3          4   5042106   4257510   3656937  ...     1     1     1    유지
4          5   5460150   2225730   2934930  ...     1     1     1    유지
...      ...       ...       ...       ...  ...   ...   ...   ...   ...
19355  19356    170160   1536090   2104968  ...     1     1     1    유지
19356  19357     91950   3281346   3044944  ...     1     1     1    유지
19358  19359     43190   1286327    837240  ...     1     1     1    유지
19359  19360    368050   2060040   1412140  ...     1     1     1    유지
19363  19364   2032420   6743370   3218130  ...     1     1     1    유지

[19147 rows x 10 columns]